
<!-- about us start -->

<div class="container mt-5">
    <br>
    <span> <h3 style="color:
        #0a0a0a;font-weight:600;font-size:70px;font-family:'Times New Roman',
        Times, serif;text-shadow: 6px 6px 6px #ffffff;" class="text-center mt-5 text txt"><span class="mt-5">About
        </span> Us</h3></span>
  <div class="row">
    <div class="col-6">
      <section class="home ms-3 mt-4" id="home">


      </section>

    </div>
    <div class="row-4 mt-5">
      <p class="text-center text" style="font-family: Arial, Helvetica,
        sans-serif;font-weight: 700;">
        We are a team of highly experienced Senior Developers, Designers
        and Digital Marketers who operate in India but provide solutions
        around the world. We have vast experience in the Service and
        Product industry. Worked for startups and made them achieve
        their defined goals.
        We develop websites that build businesses! We believe, there is no
        room for a one-size-fits-all approach in web development services.
        Each website is unique and it needs a personal touch to meet
        specific business needs. Our experienced UI/UX designers and full
        stack web development team can effectively transform your idea
        into reality.
      </p>
    </div>
  </div>
</div>



<!-- about us end -->
