<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>


    <!-- <div class="card bg-dark text-white">
      <img src=" /assets/images/DM bg2.jpg" class="img-fluid mt-5 images"
        alt="Stony Beach" width="100%"/>
      <div class="card-img-overlay">
        <div class="mt-5">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <span> <p
                    style="color:#070707;font-weight:600;font-size:7vw;font-family:'Times New Roman', Times, serif;" class="text-center h6 mt-5"><span>  Digital Marketing Services </span><br></p></span>
                    <p class=" text-dar text-center"  style="color:#090909;font-weight:600;font-size:4vw;font-family:'Times New Roman', Times, serif;"> Digital Marketing Makes A Great Brand  </p>
              </div>
            </div>
            <div class="row">
              <div class=" btn btn-dark center bg-warning"><a
                  routerLink="/contact" class="text-dark"><h6 class="mt-2 mb-2">GET
                    A PROPOSAL</h6></a></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

     <!-- Background image -->
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('/assets/images/dm\ new\ bg.jpg');
    height: 400px;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white mt-5">
        <!-- <h6 class="mt-5 mb-3"  style="color:#c5c2c2;font-weight:600;font-size:6vw;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black" >Digital Marketing Services </h6> -->
        <h6 class="mb-3 mt-5"   style="color:#e1dede;font-weight:600;font-size:5.5vw;font-family:'Times New Roman', Times, serif;text-shadow:2px 2px 2px black">Digital Marketing Makes A Great Brand  </h6>
        <a class="btn btn-outline-light btn-lg" href="/contact" role="button"
        > <h6>GET
          A PROPOSAL</h6>  </a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->


    <div class="container mt-5">
      <div class="row">
        <div class="col-md">
          <h1>Digital Marketing</h1>
          <p class="h5">
            Digital marketing is a broad term that includes many different
            platforms for promoting your business to interested customers
            through online mediums. The era is more likely adapted to digital
            and so every business is with it. Bringing business online has
            benefits for a long – time. The online platform of your business can
            be boosted by the implementation of digital marketing strategies
            that is done by working on various factor-like Search Engine
            Optimization i.e the practice of improving your business ranking on
            search engine pages(Google, Bing, etc) to increase traffic. Social
            Media Marketing is the practice of using social media platforms for
            the promotion of your products & services. Pay Per Click (PPC) is a
            method of bringing genuine customers to your business by running
            advertising and campaigns on various search engines like Google,
            Bing, etc. Content Marketing. Content marketing Refers to the
            publishing & distribution of Text, Video, Audio to your customer by
            blogs, video, podcasts, etc.</p>
        </div>
        <div class="col-md">
          <img src="/assets/images/DM.jpeg" alt="" height="100%" width="100%">
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="display-6 mt-4 mb-4 text-center text-dark">Advantages of
        Digital Marketing </h1>

    </div>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(178, 235, 216);">
                <div class="card-header text-center"><h1>Brand Recognition</h1></div>
                <div class="card-body">
                  <p class=" text-center txt">The Major benefit of graphic designing for the business is that it
                    helps to establish a unique identity of the brand which is a reflection of your company’s perception in the markets</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(165, 186, 231);">
                <div class="card-header text-center"><h1>User Experience</h1></div>
                <div class="card-body">
                  <p class=" text-center txt">Well design graphic pictures can easily pass on information or
                    message about the product and services of the brand which increases
                    user experience.</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md">
            <div class="card text-center mb-4" style="background-color: rgb(231, 207, 240);">
                <div class="card-header text-center"><h1>Build Trust & Goodwill</h1></div>
                <div class="card-body">
                  <p class=" text-center txt">A proper design or identification helps in building trust &
                    convincing the buyers about the quality product & services. Good
                    graphic design conveys a good presentation of your business &
                    convence the customers.</p>
                </div>
            </div>
        </div>
        <div class="col-md">
          <div class="card text-center mb-4" style="background-color: rgb(159, 235, 143);">
            <div class="card-header text-center"><h1>Higher Conversation</h1></div>
            <div class="card-body">
              <p class=" text-center txt">Professional and effective graphic designing can give footfall and traffic to a business or brand where<br> it will also help to increase the chances of conversion.</p>
            </div>
        </div>
        </div>
      </div>
    </div>



    <div class="container mb-5">
      <div class="row mt-5">
        <div class="col-md">
          <h1 class="display-1 text-center">Just Say Hello !</h1>
          <!-- <h1 >Just Say Hello !</h1> -->
          <h3 class="text-center">Let Us Know More About You !</h3>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-left">Stay Updated !</h2>
              <h5 class="card-text text-left mb-5 ">Enquire For Any Services, Our Team Will Help Out.</h5>
              <form [formGroup]="registerform" >
                <div class="row">
                  <div class="col-md">
                    <h5 style="font-family: 'Times New Roman', Times, serif;"> Your Name</h5>
                    <input type="text" name="uname" formControlName="uname" class="form-control" placeholder="Name" style="border: 0.2px solid black;">
                    <p  class="text-danger" *ngIf="registerform.controls.uname.invalid && registerform.controls.uname.touched">Please Enter Your Name</p>

                  </div>
                  <div class="col-md">
                    <h5 style="font-family: 'Times New Roman', Times, serif;">Email</h5>
                    <input type="text" name="email" formControlName="email" class="form-control"  placeholder="Email"  style="border: 0.2px solid black;" >
                    <p  class="text-danger" *ngIf="registerform.controls.email.invalid && registerform.controls.email.touched" >Please Enter Your Email</p>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col mt-3">
                    <h5 style="font-family: 'Times New Roman', Times, serif;" >Phone Number</h5>
                  <input type="text" name="phone" formControlName="phone" class="form-control"  placeholder="Number" style="border: 0.2px solid black;">
                  <p class="text-danger" *ngIf="registerform.controls['phone'].invalid && registerform.controls['phone'].touched"> please enter Your contact number</p>
                  <p class="text-danger" *ngIf="registerform.controls['phone'].errors?.['minlength']">please enter 10 digit Number</p>
                  <p class="text-danger" *ngIf="registerform.controls['phone'].errors?.['maxlength']"> please enter number below 10 digits.</p>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <h5 style="font-family: 'Times New Roman', Times, serif;" >Service</h5>
                  <input type="text" name="service" formControlName="service" class="form-control"  placeholder="Service" style="border: 0.2px solid black;">
                  <p  class="text-danger" *ngIf="registerform.controls.service.invalid && registerform.controls.service.touched" >Please Enter Service.</p>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col">
                    <h5 style="font-family: 'Times New Roman', Times, serif;">Message</h5>
                    <textarea name="" id="" cols="30" rows="10" name="message" formControlName="message" class="form-control"  placeholder="Message"  style="border: 0.2px solid black;"></textarea>
                    <!-- <input type="textarea"  > -->
                    <p  class="text-danger" *ngIf="registerform.controls.message.invalid && registerform.controls.message.touched" >Please Enter Message</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="btn btn-dark center">Submit</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
