<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- main start -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/assets/images/bg main.webp');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <span> <h4 style="color: #dedcdc;font-weight:600;font-size:7vw;font-family:'Times New Roman', Times, serif;text-shadow: 4px 4px 4px rgb(11, 11, 11);" class="text-left  mt-5"><span>Anikaay </span><br>Integration</h4></span>
          <a class="btn btn-outline-light btn-lg" href="/contact" role="button"
          >GET
          A PROPOSAL</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

<!--  main ends -->

  <!-- home start -->
  <div class="container-fluid pt-2  mt-5" id="HOME">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-md-4">
        <div class="card">
          <img src="/assets/images/web design.svg" class="card-img-top border border-dark rounded-start" alt="Sunset Over the Sea"/>
          <div class="overlay">
            <div class="text">RESPONSIVE-WEB-DESIGN</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="/assets/images/Online shopping-amico.svg" class="card-img-top border border-dark rounded-start" alt="Sunset Over the Sea"/>
          <div class="overlay">
            <div class="text">ONLINE-SHOPPING</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card me-">
          <img src="/assets/images/SEO-rafiki.svg" class="card-img-top border border-dark rounded-start" alt="Sunset Over the Sea"/>
          <div class="overlay">
            <div class="text">SEO</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="mt-4 mb-5">
    <h1 class="text-center text-light" style="font-weight: 800;font-family: 'Times New Roman', Times, serif;"><span class="bg-warning txt">Trusted Business Solution</span></h1>
        <p class="text-center para h5">We provide business solution to increase your digital
          footprint and work flow optimization.<br> With the team of
          individuals believing in data driven decision making and
          maximum customer satisfaction.</p>
  </div>

  <!-- home ends -->

  <!-- web development start -->

<div class="container">
  <div class="card mb-3 border border-dark">
    <div class="bg-image hover-zoom">
      <img src="/assets/images/1.svg.svg" class="card-img-top" alt="Wild Landscape">
    </div>
    <div class="card-body">
      <h1 class="card-title text-center text-light"><span class="bg-warning txt">WEB DEVELOPMENT</span></h1>
     <div class="container">
      <p class="card-text text-center text-dark h6">
        We do powerful and highly customized website development for your ideas
        happen. Our web design and development team are exceptionally focused
        and offer the best services. We consider each to be a chance to upgrade the
        conceivable outcomes of your business and that of the web all in all
      </p>
     </div>
    </div>
  </div>
</div>



<div class="container" id="web-development">
  <div class="row">
    <div class="col-md">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/2.png" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      </div>
    </div>
    <div class="col-md bg-warning border border-dark">
      <h1 class="mt-5 text-center text-dark mb-3" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
        WHAT IS WEB DEVELOPMENT?
      </h1>
      <p class="text-center text-dark h6 mb-5">Web development is the building and maintenance of websites; it’s the work that
        happens behind the scenes to make a website look great, work fast and perform
        well with seamless user experience. The web development process includes web
        design, web content development, client-side/server-side scripting, and network
        security configuration, among other tasks.
      </p>

        <div class="btn btn-dark mb-3" routerLink="/webdevelopment">Read More</div>
    </div>

    <div class="row-md bg-warning border border-dark mt-4">
      <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-laravel-50.png" height="40px" width="40px" class="me-3"><span > Laraval Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"> <img src="/assets/images/icons8-wordpress-52.png" height="40px" width="40px" class="me-3"><span>WordPress Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-python-50.png" height="40px" width="40px"  class="me-3"><span>Python Development</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-django-48.png" height="40px" width="40px"  class="me-3"><span>DJango Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-javascript-50.png" height="40px" width="40px"  class="me-3"><span>Vanilla JS Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-react-60.png" height="40px" width="40px"  class="me-3"><span>React JS Development</span></p>
          </div>
        </div>



        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-java-50.png" height="40px" width="40px"  class="me-3"><span>Java Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-codeigniter-48.png" height="40px" width="40px"  class="me-3"><span>Codeigniter Development</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/icons8-javascript-50.png" height="40px" width="40px"  class="me-3"><span>Javascript Development</span></p>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
  <!-- web development ends -->




  <!-- we design start -->

<div class="container">
  <div class="card mb-3 mt-5 border border-dark" id="web design ">
    <div class="bg-image hover-zoom">
      <img src="/assets/images/web d1.svg" class="card-img-top mt-5" alt="Wild Landscape">
    </div>
    <div class="card-body">
      <h1 class="card-title text-center text-dark"><span class="txt" style="background-color: #c1e4ab;text-shadow: 2px 2px 2px white;">WEB DESIGN</span></h1>
      <div class="container">
        <p class="card-text text-center h6">
          As a reputed custom web designing company in India, We specialize in giving
          you contemporary designs, user-friendly website interface, motion graphics,
          and visual aspect for your websites.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md border border-dark"  style="background-color: #c1e4ab;">
      <h1 class="card-title text-center text-dark mt-5"><span class="txt" style="text-shadow: 2px 2px 2px white;">What Is WEB DESIGN ?</span></h1>
      <p class="text-center text-dark h6 mt-4">Web design is a process of creation, with the intention of presenting the content on
        electronic web pages, which the end-users can access through the internet with the
        help of a web browser. Lilac is one of the leading web design and web development
        companies in India offering the latest trends and technologies in web design</p>
        <br><br><br>
        <div class="btn btn-dark mt-4 mb-4" routerLink="/webdesign/" >Read More</div>
    </div>

    <div class="col-md">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/web design.jpeg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      </div>
    </div>
    <div class="row-md border border-dark mt-4" style="background-color: #c1e4ab;">
      <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/coding.png" height="40px" width="40px" class="me-3"><span>Corporate Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"> <img src="/assets/images/responsive web design.png" height="40px" width="40px" class="me-3"><span>Responsive Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/mail.png" height="40px" width="40px"  class="me-3"><span>Email Template
              Designing</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Interactive Web design.png" height="40px" width="40px"  class="me-3"><span>Interactive Web
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Theme designing.png" height="40px" width="40px"  class="me-3"><span>Theme
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Interface designing.png" height="40px" width="40px"  class="me-3"><span>Interface
              Designing</span></p>
          </div>
        </div>



        <div class="row">
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/UX.png" height="40px" width="40px"  class="me-3"><span>UX
              Designing
              </span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/Digital Flyer.png" height="40px" width="40px"  class="me-3"><span>Digital Flyer
              Designing</span></p>
          </div>
          <div class="col-md">
            <p class="text-dark"><img src="/assets/images/UI.png" height="40px" width="40px"  class="me-3"><span>UI
              Development</span></p>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
  <!-- web design ends -->



  <!-- GRAPHIC DESIGN start -->


  <div class="container" id="graphic design">
    <div class="card mb-3 mt-5 border border-dark">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/GD3.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-dark"><span class="txt" style="background-color: #ffa59d;text-shadow: 2px 2px 2px white;">GRAPHIC DESIGN</span></h1>
        <p class="card-text text-center text-dark">
          As a reputed custom Graphic Design & Branding Agency in India, We create
          beautiful and engaging designs th at help you stand out from the crowd and
          effectively market your business.
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/GD2.svg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>
        <div class="col-md border border-dark" style="background-color: #ffa59d;">
          <h1 class="mt-5 text-center text-dark" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            WHAT IS GRAPHIC DESIGN?
          </h1>
          <p class="text-center text-dark mt-5 h5">Our graphic designing services help you stand apart from the competition and
            effectively represent your marketing elements through creatively designed
            graphics.</p>
            <br><br><br>
            <div class="btn btn-dark mb-4"  routerLink="/graphic">Read More</div>
        </div>
        <div class="row-md mt-4 border border-dark" style="background-color: #ffa59d;">
          <h4 class="text-center text-dark mt-5">We’re Skillful at</h4>
          <div class="container mb-5">
            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/coding.png" height="40px" width="40px" class="me-3"><span>Corporate Web
                  Designing</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/responsive web design.png" height="40px" width="40px" class="me-3"><span>Responsive Web
                  Designing</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/mail.png" height="40px" width="40px"  class="me-3"><span>Email Template
                  Designing</span></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Interactive Web design.png" height="40px" width="40px"  class="me-3"><span>Interactive Web
                  Designing</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Theme designing.png" height="40px" width="40px"  class="me-3"><span>Theme
                  Designing</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Interface designing.png" height="40px" width="40px"  class="me-3"><span>Interface
                  Designing</span></p>
              </div>
            </div>



            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/UX.png" height="40px" width="40px"  class="me-3"><span>UX
                  Designing
                  </span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Digital Flyer.png" height="40px" width="40px"  class="me-3"><span>Digital Flyer
                  Designing</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/UI.png" height="40px" width="40px"  class="me-3"><span>UI
                  Development</span></p>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- GRAPHIC DESIGN ends -->




  <!-- DIGITAL MARKETING start -->


  <div class="container" id="digital marketing">
    <div class="card mb-3 mt-5 border border-dark">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/DIGITAL MARKETING.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-dark"><span class="txt" style="background-color: #eadd62; text-shadow: 2px 2px 2px white;">DIGITAL MARKETING</span></h1>
        <p class="card-text text-center text-dark">
          We are here to drive highly targeted traffics to your business by using
          numerous digitalmarketing strategies focused on increasing the reach and
          visibility of your business in social media. You don’t need any marketing skills
          to have great ads. Run ads like a pro — without having to rely on experts by the
          excellent digital marketing services form the experts
        </p>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md mb-5 border border-dark" style="background-color: #eadd62;" >
          <h1 class="mt-5 text-center text-dark" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            WE SPEAK
            FOR YOUR
            BRAND IN
            DIGITAL
            WORLD
          </h1>
          <p class="text-center text-dark mt-5 mb-5 h6">Looking for a Result Oriented Digital Marketing Companion? We are here for you
            to give guaranteed digital marketing services that enhance your revenue. Take
            advantage of our expertise. Build your Brand Equity and Business online. Make your
            Marketing & Business ideas live & turn it into a profitable growing outcome with the
            best digital marketing company in India. Let’s grow together with us.
          </p>
          <div class="btn btn-dark" routerLink="/digital-marketing" >Read More</div>
          <br><br>
        </div>
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/dm4.jpeg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="container-sm">
    <div class="row ms-3">
      <div class="col-md">
        <div class="card text-white bg-primary mb-3 imp" style="max-width: 18rem;">
          <div class="card-header"><h5 class="card-title text-center xbootstrap">Search Engine Optimization </h5></div>
          <div class="card-body">
            <div class="btn btn-dark" (click)="toogleDisplayDiv()">Read More</div>
            <div class="div" [hidden]="isShowDiv">
            <p class="card-text text-center">Enterprise SEO</p>
            <p class="card-text text-center">Local SEO</p>
            <p class="card-text text-center">E-Commerce SEO</p>
            <p class="card-text text-center">Worldwide SEO</p>
            <p class="card-text text-center"> Multi-Lingual SEO</p>
            <p class="card-text text-center"> Web Analytics</p>
            <p class="card-text text-center">Link Building</p>
            <p class="card-text text-center">Algorithm Updates</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card text-white bg-secondary mb-3 imp" style="max-width: 18rem;">
          <div class="card-header"> <h5 class="card-title text-center xbootstrap"> Content Marketing Services</h5></div>
          <div class="card-body">
            <div class="btn btn-dark" (click)="toogleout()">Read More</div>
            <div [hidden]="isnotshow">
              <p class="card-text text-center">Content Strategy</p>
              <p class="card-text text-center">Content Writing</p>
              <p class="card-text text-center">Content Editing</p>
              <p class="card-text text-center">Guest Posting</p>
              <p class="card-text text-center">Blog Post</p>
              <p class="card-text text-center">PR Writing</p>
              <p class="card-text text-center">Leads & Management</p>
              <p class="card-text text-center">Case Studies</p>
              <p class="card-text text-center">SEO Copywriting</p>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md">
          <div class="card text-white bg-success mb-3 imp" style="max-width: 18rem;">
            <div class="card-header"><h5 class="card-title text-center xbootstrap">Social Media Promotion</h5></div>
            <div class="card-body">
              <div class="btn btn-dark" (click)="tooglein()">Read More</div>
              <div class="div" [hidden]="isshow">
                <p class="card-text text-center">Social Media Audit</p>
                <p class="card-text text-center">Social Media Ads</p>
                <p class="card-text text-center"> Social Bookmarking</p>
                <p class="card-text text-center">Social Media Management</p>
                <p class="card-text text-center">Brand & Engagement Campaigns</p>
                <p class="card-text text-center">Analytics & Insights</p>
                <p class="card-text text-center"> Online Reputation Management</p>
                <p class="card-text text-center">Multichannel Integration</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card text-white bg-danger mb-3 imp" style="max-width: 18rem;">
            <div class="card-header"><h5 class="card-title text-center xbootstrap">Search Engine Marketing</h5></div>
            <div class="card-body">
              <div class="btn btn-dark" (click)="toogle()">Read More</div>
              <div class="div" [hidden]="isnotshowing">
                <p class="card-text text-center">Pay Per Click<br>(PPC)</p>
                <p class="card-text text-center">Paid search ads</p>
                <p class="card-text text-center"> Paid search advertising</p>
                <p class="card-text text-center">Cost Per Click<br>(CPC)</p>
                <p class="card-text text-center">Cost Per Thousandmpressions<br>(CPM)
                 </p>
                <p class="card-text text-center">Bing Ads</p>
                <p class="card-text text-center"> Campaign Strategy</p>
                <p class="card-text text-center"> Google Ad words</p>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <!-- DIGITAL MARKETING ends -->


  <!-- e-commerce start -->


  <div class="container" id="e-commerce">
    <div class="card mb-3 mt-5 border border-dark">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/EComm.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-light"><span class="txt" style="background-color: #C39BD3;">E-COMMERCE</span></h1>
        <p class="card-text text-center text-dark">
          A website that has too much going on will not yield the intended results of a
          business owner. An E-Commerce business owner needs to have a website that
          is lightweight, quality-based, clear, and well-written. We help to create just
          that with perfect search engine optimization, ensuring traffic and promising
          results in the future.
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md border border-dark" style="background-color: #C39BD3;">
          <h1 class="mt-5 text-center text-dark" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            IMPLEMENT
            PAYMENT
            APIS
          </h1>
          <p class="text-center text-dark mt-5 h6">We implement Payment APIs on your existing e-commerce websites to improve your
            website performance. We also offer custom shipping and courier API integration with
            third party service providers like Fedex, DTDC, Blue Dart, India Post, DHL and others.
            This allows seamless rate integration, shipment, label generation, shipment tracking
            and pickup of shipped goods and products.</p>
        </div>
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/e-comm 2.jpeg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>

        <div class="row-md border border-dark mt-4" style="background-color: #C39BD3;">
          <h4 class="text-center text-dark mt-5 mb-4">We’re Skillful at</h4>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/payment-gateway.png" height="40px" width="40px" class="me-3"><br>
                  <span >Payment gateway
                  integration</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/search engine.png" height="40px" width="40px" class="me-3"><br>
                  <span>Search engine
                  friendly</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/DM AND ADV.png" height="40px" width="40px"  class="me-3"><br><span>Digital marketing and
                  advertisement</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/cart.png" height="40px" width="40px"  class="me-3"><br><span>Customizable
                  shopping cart</span></p>
              </div>

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/currency.png" height="40px" width="40px"  class="me-3"><br><span>Multi currencies
                  shopping option</span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- e-commerce ends -->



  <!-- seo start -->

  <div class="container" id="seo">
    <div class="card mb-3 mt-5 border border-dark">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/SEO1.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-light"><span class="txt" style="background-color: #616162;">Search Engine Optimization</span></h1>
        <p class="card-text text-center text-dark h6">
          we follow the rules and regulations of Google and do SEO for our clients. Get
          visibility on search engines with optimized SEO Services from one of the best
          SEO Company in India. When a client contacts us for SEO Services, we first
          begin with an analysis of the website.
          Our SEO packages include targeting high-ranking keywords for the business
          and industry, link building with high quality backlinks, optimizing the On-page
          and Off-page SEO, developing high quality content etc
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/SEO img.jpeg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>
        <div class="col-md border border-dark" style="background-color: #616162;">
          <h1 class="mt-5 text-center text-light" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px rgb(17, 17, 17);">
            What are
            SEO
            Keywords
            Services &
            Strategies
          </h1>
          <p class="text-center text-light mt-5 h6">We analyze our target audience and based on that we do our research for the best
            suited key phrases and keywords. With the help of proper and targeted keywords,
            we aim to improve customer engagement and user interaction For fruitful SEO
            results, it is very important to strategize comprehensive, structured, and good
            quality content. </p>
            <br><br>
            <div class="btn btn-warning mb-4 text-dark" routerLink="/SEO">Read More</div>
        </div>

        <div class="row-md border border-dark mt-4" style="background-color: #616162;">
          <h4 class="text-center text-light mt-5 mb-4">We’re Skillful at</h4>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <p class="text-light"><img src="/assets/images/key.svg" height="40px" width="40px" class="me-3"><br>
                  <span>Payment gateway
                  integration</span></p>
              </div>
              <div class="col-md">
                <p class="text-light"> <img src="/assets/images/on page.png" height="70px" width="90px" class="me-3"><br>
                  <span>Search engine
                  friendly</span></p>
              </div>
              <div class="col-md">
                <p class="text-light"><img src="/assets/images/conv.png" height="40px" width="40px"  class="me-3"><br><span>Seo conversion
                  tracking</span></p>
              </div>
              <div class="col-md">
                <p class="text-light"><img src="/assets/images/google my image.png" height="40px" width="40px"  class="me-3"><br><span>Google my business
                </span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- seo end -->






  <!-- CMS start -->
<div class="container mb-5 mt-3s" id="cms">
    <div class="card mb-3 mt-5 border border-dark">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/Content.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-light"><span class="txt" style="background-color: #d4965f;">CONTENT MANAGEMENT SYSTEM</span></h1>
        <p class="card-text text-center text-dark h6">
          Content Management System (CMS) or not for the development purpose. A
          CMS platform is a software which allows easy management of content and
          creating a website. CMS helps in reducing the workload both for the business
          and the web design and development companies. CMS helps to publish and
          manage content from a server which is accessible to the users.
          This is highly useful to the users as they can easily update the content on the
          website even without having knowledge of HTML or PHP. The users no longer
          need to depend on technical teams for uploading and management of their
          content or files.
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md border border-dark" style="background-color: #d4965f;">
          <h1 class="mt-5 text-center text-dark" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px rgb(84, 84, 84);text-shadow: 2px 2px 2px white;">
            Why Do You
            Need a
            CMS?
          </h1>
          <p class="text-center text-dark mt-5 h6">As a digital marketing agency, we can’t express how important a CMS is to a
            handful of users and business owners alike. If you’re someone who is planning to
            redesign or create a website from the ground up efficiently then you need a CMS
            to keep your content up-to-date.
             </p>
             <div class="btn btn-dark mb-4" routerLink="/cms">Read More</div>
        </div>
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/CMS5.png" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>
        <div class="row-md border border-dark mt-4" style="background-color: #d4965f;">
          <h4 class="text-center text-dark mt-5 mb-4">We’re Skillful at</h4>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Indexing.png" height="40px" width="40px" class="me-3"><br>
                  <span>Indexing, searching and
                    retrieval to easily access
                    content</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/Format.png" height="40px" width="40px" class="me-3"><br>
                  <span>Format
                    Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Revision.png" height="40px" width="40px"  class="me-3"><br><span>Revision Features to
                  Update Content</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Publishing Content.png" height="40px" width="40px"  class="me-3"><br><span>Google my business
                </span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- CMS ends -->



  <!-- crm start -->

  <div class="container" id="crm">
    <div class="card mb-3 mt-5 border border-dark ">
      <div class="bg-image hover-zoom">
        <img src="/assets/images/CRM.svg" class="card-img-top" alt="Wild Landscape"/>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center text-light"><span class="txt" style="background-color: #80A26E;">CUSTOMER RELATIONSHIP
          MANAGEMENT</span></h1>
        <p class="card-text text-center text-dark">
          CRM stands for “customer relationship management,” a type of software
          that helps businesses manage, track and organize their relationships with
          customers. A CRM can help you store customer data such as user behavior,
          how long a customer has been with your business, purchase records, and
          notes on sales interactions, which you can use to optimize your  sales and
          marketing processes and improve customer service across your organization.
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md">
          <div class="bg-image hover-zoom">
            <img src="/assets/images/CRM2.svg" alt="" width="100%" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          </div>
        </div>
        <div class="col-md border border-dark " style="background-color: #80A26E;">
          <h1 class="mt-5 text-center text-dark" style="font-family:'Times New Roman', Times, serif;font-weight:500;text-shadow: 2px 2px 2px white;">
            Marketing
            Features
            CRM
          </h1>
          <p class="text-center text-dark mt-5">Marketing features are also gaining prominence given the many channels
            available today to reach out to customers. Similarly, the demand for reporting
            and analytics is increasing, as businesses are leveraging data to understand
            customer behavior and predict sales volumes.
             </p>
             <div class="btn btn-dark mb-4" routerLink="/crm" >Read More</div>
        </div>
        <div class="row-md mt-4 border border-dark" style="background-color: #80A26E;">
          <h4 class="text-center text-dark mt-5 mb-4">We’re Skillful at</h4>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Lead Management.png" height="40px" width="40px" class="me-3"><br>
                  <span>Lead Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"> <img src="/assets/images/Contact Management.png" height="40px" width="40px" class="me-3"><br>
                  <span>Contact Management</span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Email Management.png" height="40px" width="40px"  class="me-3"><br><span>Email Management</span></p>
              </div>
              <div class="row">
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Reporting and Analytics.png" height="40px" width="40px"  class="me-3"><br><span>Reporting and Analytics
                  </span></p>
                </div>
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Marketing.png" height="40px" width="40px"  class="me-3"><br><span>Marketing
                  </span></p>
                </div>
                <div class="col-md">
                  <p class="text-dark"><img src="/assets/images/Pipeline Management.png" height="40px" width="40px"  class="me-3"><br><span>Pipeline Management
                  </span></p>
                </div>
                <div class="row">

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/workflow.png" height="40px" width="40px"  class="me-3"><br><span>Workflow Automation
                    </span></p>
                  </div>

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/document.png" height="40px" width="40px"  class="me-3"><br><span>Document Management
                    </span></p>
                  </div>

                  <div class="col-md">
                    <p class="text-dark"><img src="/assets/images/proposal2.png" height="40px" width="40px"  class="me-3"><br><span>Quotes/Proposal
                      Management
                    </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- crm ends -->







  <!-- payment gateway start -->


  <div class="container" id="payment gateway">
    <div class="card mb-3 mt-5  border border-dark ">
      <div class="card-body">
        <h1 class="card-title text-center text-light"><span class="txt" style="background-color: #6fab92;">Payment Gateway</span></h1>
        <p class="card-text text-center text-dark h6">
          A payment gateway is a technological solution that enables fast and securepayment processing of card-not-present (CNP) transactions. It is a link between
          the seller, the buyer, and the bank, similar to a POS terminal at an offline store.
          Thanks to the gateway, it’s all done quickly and securely. So, in a way, it’s a digital
          “twin” of a physical point-of-sale, which is a payment terminal at a physical
          shop’s counter.
        </p>

      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="row-md  border border-dark " style="background-color: #6fab92;">
          <h4 class="text-center text-dark mt-5 mb-4">Benefits Of Using An Online Payment Gateway</h4>
          <div class="container">
            <div class="row">

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Faster and Secure Transactions.png" height="40px" width="40px"  class="me-3"><br><span>Faster and Secure Transactions</span>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/Minimum Set Up Costs.png" height="40px" width="40px"  class="me-3"><br><span>Minimum Set Up Costs
                </span></p>
              </div>

            </div>

            <div class="row ">

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/trends.webp" height="40px" width="40px"  class="me-3"><br><span>Keep Up With The Trends
                </span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/time.png" height="40px" width="40px"  class="me-3"><br><span>Save Your Time
                </span></p>
              </div>

            </div>


            <div class="row">

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/customer.png" height="40px" width="40px"  class="me-3"><br><span>Improved Customer Experience
                </span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/payment-gateway.png" height="40px" width="40px"  class="me-3"><br><span>Accept Worldwide Payments
                </span></p>
              </div>

            </div>



            <div class="row">

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/reduce.png" height="40px" width="40px"  class="me-3"><br><span>Reduce Declined Transactions
                </span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/cash.png" height="40px" width="40px"  class="me-3"><br><span>Enhanced Cash Flow
                </span></p>
              </div>

            </div>


            <div class="row">

              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/payment automation.png" height="40px" width="40px"  class="me-3"><br><span>Payment Automation
                </span></p>
              </div>
              <div class="col-md">
                <p class="text-dark"><img src="/assets/images/detective.png"  height="40px" width="40px"  class="me-3">
                  <br><span>Fraud Detection Tools</span></p>
              </div>

            </div>


          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- payment gateway end -->

























  <!-- pop up start -->


  <!-- <div class="content">

</div>
<input type="checkbox" id="popup">
<div class="pop_up_container " >
    <div class="pop_up">
        <label for="popup">

        </label>
        <form [formGroup]="registerform">

          <div class="container">
            <legend class="text-dark">Sign Up</legend> -->
              <!-- Name -->
              <!-- <h5 style="font-family: 'Times New Roman', Times, serif;color: black;">Name</h5>
              <input type="text" name="uname" formControlName="uname" class="form-control" placeholder="Name" style="border: 0.2px solid black;">
               <p  class="text-danger" *ngIf="registerform.controls.uname.invalid && registerform.controls.uname.touched">Please Enter Your Name</p> -->

               <!-- Email -->
               <!-- <h5 style="font-family: 'Times New Roman', Times, serif;color: black;">Email</h5>
               <input type="text" name="email" formControlName="email" class="form-control"  placeholder="Email"  style="border: 0.2px solid black;" >
               <p  class="text-danger" *ngIf="registerform.controls.email.invalid && registerform.controls.email.touched" >Please Enter Your Email</p> -->

               <!-- Phone Number -->
               <!-- <h5 style="font-family: 'Times New Roman', Times, serif;color: black;" >Phone Number</h5>
               <input type="text" name="phone" formControlName="phone" class="form-control"  placeholder="Number" style="border: 0.2px solid black;">
               <p class="text-danger" *ngIf="registerform.controls['phone'].invalid && registerform.controls['phone'].touched"> please enter Your contact number</p>
               <p class="text-danger" *ngIf="registerform.controls['phone'].errors?.['minlength']">please enter 10 digit Number</p>
               <p class="text-danger" *ngIf="registerform.controls['phone'].errors?.['maxlength']"> please enter number below 10 digits.</p> -->

          <!-- </div>
        </form>
        <button type="button">Sign Up</button>
    </div>
</div> -->
  <!-- pop up ends -->
</body>
</html>
